@model List<Sitecore.AspNetCore.Starter.Models.Slider>

    <h1>@Model.Count</h1>

@* <div class="@Model.Styles @Model.GridParameters" id="@Model.Id" style="width: 100%">
    @if (Model.Logo != null)
    {
        <sc-img asp-for="@Model.Logo" />
    }
    @if (Model.Test != null)
    {
        <sc-text asp-for="@Model.Test" />
    }
</div> *@